@model ShopDT.Models.Sanpham

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TenSanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GiaTien)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaDanhMucNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => model.TenSanPham)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Anh)
                </td>
                <td>
                    @Html.DisplayFor(model => model.MoTa)
                </td>
                <td>
                    @Html.DisplayFor(model => model.GiaTien)
                </td>
                <td>
                    @Html.DisplayFor(model => model.SoLuong)
                </td>
                <td>
                    @Html.DisplayFor(model => model.MaDanhMucNavigation.MaDanhMuc)
                </td>-->
                @*<td>
                    <a asp-action="Edit" asp-route-id="@model.MaSanPham">Edit</a> |
                    <a asp-action="Details" asp-route-id="@model.MaSanPham">Details</a> |
                    <a asp-action="Delete" asp-route-id="@model.MaSanPham">Delete</a>
                </td>*@
            <!--</tr>
        }
    </tbody>
</table>-->

@*<div>
    <a asp-action="Edit" asp-route-id="@Model.MaSanPham">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>*@
